{% extends "layout.html" %}
{% block content %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <div class="home">
    <p>Detect the profession of people in a image</p>
  </div>
  <form action="/upload" method="post" enctype="multipart/form-data" >
    <label class="btn btn-default btn-file">
        Browse <input type="file" name="image" style="display: none;">
    </label>
    <input type="submit" value="Upload your image" class="btn btn-primary">
</form>
{% endblock %}